@model List<ShopTimeMVC.Models.Product>
@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <div class="category">
        <h2>Men</h2>
    </div>
    <div class="results">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-sm-6 col-md-4 item">
                    <div class="product-img">
                        <img class="full-width img-responsive" src="~/Content/images/@product.Avatar">
                    </div>
                    <a data-id="@product.Id" class="add-to-cart" href="javascript:void()">
                        <i class="fa fa-shopping-cart"></i> Add to cart
                    </a>
                    <div class="product-description margin-bottom-30">
                        <div class="pull-left">
                            <h4 class="title-price">@product.Name</h4> <span class="gender text-uppercase">@product.Gender.ToString()</span>
                        </div>
                        <div class="product-price"> <span class="title-price">@product.Price.ToString("C")</span> </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>